<div class="border border-neutral-300 "></div>

<div class="bg-neutral-102 w-full">
    <div class="flex items-center justify-between max-w-4xl mx-auto p-6">
        <div class="w-1/2">
            <h1 class="text-4xl font-bold text-neutral-800">
                <%= welcome %> 
            </h1>
            <p class="mt-4 text-neutral-600">
                <%= description %>
            </p>
            <button class="mt-6 px-6 py-2 bg-neutral-800 text-white rounded-md hover:bg-neutral-900">
                <%= button_description %>
            </button>
        </div>

        <div class="w-2/5">
            <img src="/images/BigLogo.jpg" alt="Immagine Logo" class="rounded-lg shadow-lg ">
        </div>
    </div>
</div>