<div class="border border-black bg-neutral-800 text-white font-bold flex justify-between items-center">
  <span class="underline font-bold"><</span>
  <h1 class="underline"><%= codice %></h1>
  <span class="underline font-bold">></span>
</div>

<div class="flex p-10 justify-center">
  <img src="/images/BigLogo.jpg" class="w-52 rounded-xl" alt="Logo" />
</div>

<div class="flex flex-col items-center justify-center">
  <h2 class="text-2xl font-bold mb-7"><%= title_gallery %></h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 w-4/5">
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/gallery1.jpg" alt="Geometrie di Vetro — Visione d&rsquo;Avanguardia" class="w-full h-52 object-cover rounded-lg mb-2">
      <p class="text-center"><%= gallery_title1 %></p>
      <div class="flex items-center justify-center">
          <button class="mt-6 px-6 py-2 bg-neutral-800 text-white font-bold rounded hover:bg-blue-700 transition duration-300">Visualizza la galleria completa</button>
      </div>
    </div>
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/galleryshow2.jpg" alt="Gallery" class="w-full h-52 object-cover rounded-lg mb-2">

      <p class="text-center">Progetto 2</p>
    </div>
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/galleryX.jpg" alt="Gallery" class="w-full h-52 object-cover rounded-lg mb-2">
      <p class="text-center">Progetto 3</p>
    </div>
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/galleryX.jpg" alt="Gallery" class="w-full h-52 object-cover rounded-lg mb-2">
      <p class="text-center">Progetto 4</p>
    </div>
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/galleryX.jpg" alt="Gallery" class="w-full h-52 object-cover rounded-lg mb-2">
      <p class="text-center">Progetto 5</p>
    </div>
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/galleryX.jpg" alt="Gallery" class="w-full h-52 object-cover rounded-lg mb-2">
      <p class="text-center">Progetto 5</p>
    </div>
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/galleryX.jpg" alt="Gallery" class="w-full h-52 object-cover rounded-lg mb-2">
      <p class="text-center">Progetto 5</p>
    </div>
    <div class="bg-gray-200 p-4 rounded-lg h-96">
      <img src="/images/galleryX.jpg" alt="Gallery" class="w-full h-52 object-cover rounded-lg mb-2">
      <p class="text-center">Progetto 5</p>
    </div>
  </div>
  <button class="mt-6 px-6 py-2 bg-blue-600 text-white font-bold rounded hover:bg-blue-700 transition duration-300">Visualizza la galleria completa</button>
</div>