<div class="flex min-h-96 mt-3">
  <div class="bg-[url('/images/hero2.jpg')] bg-cover bg-center h-96 w-full flex flex-col items-start justify-center">
    <div>
        <h1 class="text-white font-bold text-4xl mt-2 ml-5 w-2/3"><%= hero1 %></h1>
    </div>
      <div class="ml-5 mt-7">
        <a href="/home" class="w-full text-neutral-800 font-bold bg-white rounded-3xl py-2 px-8">
          <%= hero2 %>
        </a>
      </div>
  </div>
</div>